src/Feature/RedditImport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Feature/RedditImport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/Feature/RedditImport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/Feature/RedditImport/obj/Debug/Sitecore.DEF.RedditImport.pdb
src/Feature/RedditImport/obj/Debug/Sitecore.DEF.RedditImport.dll
src/Feature/RedditImport/obj/Debug/Sitecore.DEF.RedditImport.csprojResolveAssemblyReference.cache
src/Feature/RedditImport/obj/Debug/Sitecore.DEF.RedditImport.csproj.FileListAbsolute.txt
src/Feature/RedditImport/obj/Debug/Sitecore.DEF.RedditImport.csproj.CoreCompileInputs.cache
src/Feature/RedditImport/obj/Debug/Sitecore.DEF.RedditImport.csproj.CopyComplete
src/Feature/RedditImport/obj/Debug/RedditImport.pdb
src/Feature/RedditImport/obj/Debug/RedditImport.dll
src/Feature/RedditImport/obj/Debug/RedditImport.csprojResolveAssemblyReference.cache
src/Feature/RedditImport/obj/Debug/RedditImport.csproj.FileListAbsolute.txt
src/Feature/RedditImport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Feature/RedditImport/obj/Debug/CoreCompileInputs.cache
src/Feature/RedditImport/bin/System.Diagnostics.Debug.dll
src/Feature/RedditImport/bin/System.Diagnostics.Contracts.dll
src/Feature/RedditImport/bin/System.Data.Common.dll
src/Feature/RedditImport/bin/System.Console.dll
src/Feature/RedditImport/bin/System.ComponentModel.dll
src/Feature/RedditImport/bin/System.ComponentModel.TypeConverter.dll
src/Feature/RedditImport/bin/System.ComponentModel.Primitives.dll
src/Feature/RedditImport/bin/System.ComponentModel.EventBasedAsync.dll
src/Feature/RedditImport/bin/System.Collections.dll
src/Feature/RedditImport/bin/System.Collections.Specialized.dll
src/Feature/RedditImport/bin/System.Collections.NonGeneric.dll
src/Feature/RedditImport/bin/System.Collections.Concurrent.dll
src/Feature/RedditImport/bin/System.AppContext.dll
src/Feature/RedditImport/bin/Sitecore.Services.Core.dll
src/Feature/RedditImport/bin/Sitecore.Kernel.dll
src/Feature/RedditImport/bin/Sitecore.DataExchange.dll
src/Feature/RedditImport/bin/Sitecore.DEF.RedditImport.dll
src/Feature/RedditImport/bin/RedditSharp.dll
src/Feature/RedditImport/bin/Newtonsoft.Json.dll
src/Feature/RedditImport/bin/Microsoft.Win32.Primitives.dll
src/Feature/RedditImport/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
src/Feature/RedditImport/bin/Sitecore.DataExchange.DataAccess.dll
src/Feature/RedditImport/bin/Sitecore.DEF.RedditImport.pdb
src/Feature/RedditImport/bin/Sitecore.DEF.RedditImport.dll.config
src/Feature/RedditImport/bin/System.Diagnostics.Process.dll
src/Feature/RedditImport/bin/System.Diagnostics.FileVersionInfo.dll
src/Feature/RedditImport/bin/System.Xml.XmlSerializer.dll
src/Feature/RedditImport/bin/System.Xml.XmlDocument.dll
src/Feature/RedditImport/bin/System.Xml.XPath.dll
src/Feature/RedditImport/bin/System.Xml.XPath.XDocument.dll
src/Feature/RedditImport/bin/System.Xml.XDocument.dll
src/Feature/RedditImport/bin/System.Xml.ReaderWriter.dll
src/Feature/RedditImport/bin/System.ValueTuple.dll
src/Feature/RedditImport/bin/System.Threading.dll
src/Feature/RedditImport/bin/System.Threading.Timer.dll
src/Feature/RedditImport/bin/System.Threading.ThreadPool.dll
src/Feature/RedditImport/bin/System.Threading.Thread.dll
src/Feature/RedditImport/bin/System.Threading.Tasks.dll
src/Feature/RedditImport/bin/System.Threading.Tasks.Parallel.dll
src/Feature/RedditImport/bin/System.Threading.Overlapped.dll
src/Feature/RedditImport/bin/System.Text.RegularExpressions.dll
src/Feature/RedditImport/bin/System.Text.Encoding.dll
src/Feature/RedditImport/bin/System.Resources.ResourceManager.dll
src/Feature/RedditImport/bin/System.Resources.Reader.dll
src/Feature/RedditImport/bin/System.Reflection.dll
src/Feature/RedditImport/bin/System.Reflection.Primitives.dll
src/Feature/RedditImport/bin/System.Reflection.Extensions.dll
src/Feature/RedditImport/bin/System.ObjectModel.dll
src/Feature/RedditImport/bin/System.Net.WebSockets.dll
src/Feature/RedditImport/bin/System.Net.WebSockets.Client.dll
src/Feature/RedditImport/bin/System.Net.WebHeaderCollection.dll
src/Feature/RedditImport/bin/System.Net.Sockets.dll
src/Feature/RedditImport/bin/System.Net.Security.dll
src/Feature/RedditImport/bin/System.Net.Requests.dll
src/Feature/RedditImport/bin/System.Net.Primitives.dll
src/Feature/RedditImport/bin/System.Net.Ping.dll
src/Feature/RedditImport/bin/System.Net.NetworkInformation.dll
src/Feature/RedditImport/bin/System.Net.NameResolution.dll
src/Feature/RedditImport/bin/System.Net.Http.dll
src/Feature/RedditImport/bin/System.Linq.dll
src/Feature/RedditImport/bin/System.Linq.Queryable.dll
src/Feature/RedditImport/bin/System.Linq.Parallel.dll
src/Feature/RedditImport/bin/System.Linq.Expressions.dll
src/Feature/RedditImport/bin/roslyn/csc.exe.config
src/Feature/RedditImport/bin/roslyn/csc.exe
src/Feature/RedditImport/bin/roslyn/VBCSCompiler.exe.config
src/Feature/RedditImport/bin/roslyn/VBCSCompiler.exe
src/Feature/RedditImport/bin/roslyn/System.Reflection.Metadata.dll
src/Feature/RedditImport/bin/roslyn/System.IO.FileSystem.dll
src/Feature/RedditImport/bin/roslyn/System.IO.FileSystem.Primitives.dll
src/Feature/RedditImport/bin/roslyn/System.Diagnostics.StackTrace.dll
src/Feature/RedditImport/bin/roslyn/System.Collections.Immutable.dll
src/Feature/RedditImport/bin/roslyn/System.AppContext.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.VisualBasic.Core.targets
src/Feature/RedditImport/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.CodeAnalysis.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
src/Feature/RedditImport/bin/System.Text.Encoding.Extensions.dll
src/Feature/RedditImport/bin/System.Security.SecureString.dll
src/Feature/RedditImport/bin/System.Security.Principal.dll
src/Feature/RedditImport/bin/System.Security.Cryptography.X509Certificates.dll
src/Feature/RedditImport/bin/System.Security.Cryptography.Primitives.dll
src/Feature/RedditImport/bin/System.Security.Cryptography.Encoding.dll
src/Feature/RedditImport/bin/System.Security.Cryptography.Csp.dll
src/Feature/RedditImport/bin/System.Security.Cryptography.Algorithms.dll
src/Feature/RedditImport/bin/System.Security.Claims.dll
src/Feature/RedditImport/bin/System.Runtime.dll
src/Feature/RedditImport/bin/System.Runtime.Serialization.Xml.dll
src/Feature/RedditImport/bin/System.Runtime.Serialization.Primitives.dll
src/Feature/RedditImport/bin/System.Runtime.Serialization.Json.dll
src/Feature/RedditImport/bin/System.Runtime.Serialization.Formatters.dll
src/Feature/RedditImport/bin/System.Runtime.Numerics.dll
src/Feature/RedditImport/bin/System.Runtime.InteropServices.dll
src/Feature/RedditImport/bin/System.Runtime.InteropServices.RuntimeInformation.dll
src/Feature/RedditImport/bin/System.Runtime.Handles.dll
src/Feature/RedditImport/bin/System.Runtime.Extensions.dll
src/Feature/RedditImport/bin/System.Runtime.CompilerServices.VisualC.dll
src/Feature/RedditImport/bin/System.Resources.Writer.dll
src/Feature/RedditImport/bin/roslyn/vbc.rsp
src/Feature/RedditImport/bin/roslyn/vbc.exe.config
src/Feature/RedditImport/bin/roslyn/vbc.exe
src/Feature/RedditImport/bin/roslyn/csi.rsp
src/Feature/RedditImport/bin/roslyn/csi.exe
src/Feature/RedditImport/bin/roslyn/csc.rsp
src/Feature/RedditImport/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
src/Feature/RedditImport/bin/roslyn/Microsoft.CSharp.Core.targets
src/Feature/RedditImport/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
src/Feature/RedditImport/bin/netstandard.dll
src/Feature/RedditImport/bin/System.IO.dll
src/Feature/RedditImport/bin/System.IO.UnmanagedMemoryStream.dll
src/Feature/RedditImport/bin/System.IO.Pipes.dll
src/Feature/RedditImport/bin/System.IO.MemoryMappedFiles.dll
src/Feature/RedditImport/bin/System.IO.IsolatedStorage.dll
src/Feature/RedditImport/bin/System.IO.FileSystem.dll
src/Feature/RedditImport/bin/System.IO.FileSystem.Watcher.dll
src/Feature/RedditImport/bin/System.IO.FileSystem.Primitives.dll
src/Feature/RedditImport/bin/System.IO.FileSystem.DriveInfo.dll
src/Feature/RedditImport/bin/System.IO.Compression.dll
src/Feature/RedditImport/bin/System.IO.Compression.ZipFile.dll
src/Feature/RedditImport/bin/System.Globalization.dll
src/Feature/RedditImport/bin/System.Globalization.Extensions.dll
src/Feature/RedditImport/bin/System.Globalization.Calendars.dll
src/Feature/RedditImport/bin/System.Dynamic.Runtime.dll
src/Feature/RedditImport/bin/System.Drawing.Primitives.dll
src/Feature/RedditImport/bin/System.Diagnostics.Tracing.dll
src/Feature/RedditImport/bin/System.Diagnostics.TraceSource.dll
src/Feature/RedditImport/bin/System.Diagnostics.Tools.dll
src/Feature/RedditImport/bin/System.Diagnostics.TextWriterTraceListener.dll
src/Feature/RedditImport/bin/System.Diagnostics.StackTrace.dll
